
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Content:wght@400;700&family=Darumadrop+One&family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
 /* *{
    border: 3px solid red;
}  */
body{ 
  margin:0px;
  padding:0px;  
  font-family: "Inter" , sans-serif;
}
/*.UpperNavBar{
    display: flex;
    justify-content: flex-end;
    padding-top: 69px;
    padding-right: 69px;
 
}

.UpperNavBar a{
    margin-left: 69px;
    font-family: "Inter" , serif ;
    font-size:22px;
    text-decoration:none;
    color: black;
    
}
*/
.sec1{
    min-height: 100vh;
    max-height: 100vh;
    background-image: url("background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;

   
}

.content{
    display: flex;
   justify-content: center;
   margin: 10vh 10vw;
 }
 
 .proxycolumn{
     flex:3;
 }

 .SideText{
    display: flex;
    flex-direction: column; 
    align-content: center;
    flex-wrap: wrap;
    flex:1;
}
 

.MarioText{
    width: 500px;
    height: auto;
}


.buttons{
   margin: auto;
}

.SideText button{
padding: 10px;
background-color: rgb(199, 216, 241);
border-radius: 25px;
width:150px;
font-family: "Darumadrop One";
text-transform: uppercase;
color:black;
font-size: 24px;
border:none;
margin-inline: 6px;
box-shadow:5px 10px;
}


/*----------------------------------------------------------------------------------------------------*/



/* styling search bar */
.search input[type=text] {
    width: 85vw;
    height: 4vh;
    border-radius: 25px;
    border: none;
    text-align:right;
    font-size: 120%;
    padding-right: 20px;
    font-family: "Darumadrop One";
        
        
}
 
.search {
    display:flex;
    justify-content: center;
    padding-top: 69px;
}
 
.search button {
    background-color: white;
    float: right;
    height:auto;
    padding: 5px 10px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
}


section {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    margin:0px;
    padding:0px;
}


/*----------------------------------------------------------------------------------------------------*/

.sec2{
    background-color: #FCD000;
}
 

.sec2content{
    display: flex;
    justify-content: center;
    margin: 10vh 10vw;
}

.imgcontainer{
    flex:2.5;
    display: flex;
    justify-content: flex-start;
    
}
.sec2image {
    border: 30px solid black;
    border-radius: 25px;
    max-width: 40vw;
    min-width: 40vw;
    height: 50vh;
    


}

.textcontainer{
    flex: 1.5;
}

p{
   font-family: "Quicksand" ;
   font-size: 20px;
   text-indent: 50px;
}

.header{
    font-weight: bold;
    font-size:  40px;
    display: flex;
    padding-top:5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: flex-end;
    font-family: "Darumadrop One";
    text-transform: uppercase;
    
}

.header img{
    margin-left: 20px;
}

table{
 font-size: 18px;
 background-color:aliceblue;
 border-radius: 25px;
 height: 300px;

}
th{
    padding: 1vw;
}

td{
    padding: 1vw;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.sec3{
    max-height: 1920px;
}
.sec3content{
    display: flex;
    margin: 20px;
    justify-content: center;
}

/*@media screen and (min-width: 1520px) {
    .Mariotext{
      width: 400px;
      height: auto;
    }
    
}*/