
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Content:wght@400;700&family=Darumadrop+One&family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/*{
    border: 3px solid red;
} */ 
body{ 
  margin:0px;
  padding:0px;  
  font-family: "Inter" , sans-serif;
}
/*.UpperNavBar{
    display: flex;
    justify-content: flex-end;
    padding-top: 69px;
    padding-right: 69px;
 
}

.UpperNavBar a{
    margin-left: 69px;
    font-family: "Inter" , serif ;
    font-size:22px;
    text-decoration:none;
    color: black;
    
}
*/
.sec1{
    min-height: 100vh;
    max-height: 100vh;
    background-image: url("background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;

   
}

.content{
    display: flex;
   justify-content: center;
   margin: 15vh 10vw;
 }
 
 .proxycolumn{
     flex:3;
 }

 .SideText{
    display: flex;
    flex-direction: column; 
    align-content: center;
    flex-wrap: wrap;
    flex:1;
}
 

.MarioText{
    width: 500px;
    height: auto;
}


.buttons{
   margin: auto;
}

.SideText button{
padding: 10px;
background-color: rgb(199, 216, 241);
border-radius: 25px;
width:150px;
font-family: "Darumadrop One";
text-transform: uppercase;
color:black;
font-size: 24px;
border:none;
margin-inline: 6px;
box-shadow:5px 10px;
}

.SideText button:hover{
    background-color: rgb(149, 188, 248);
}


/*----------------------------------------------------------------------------------------------------*/



/* styling search bar */
.search input[type=text] {
    width: 85vw;
    height: 4vh;
    border-radius: 25px;
    border: none;
    text-align:right;
    font-size: 120%;
    padding-right: 20px;
    font-family: "Darumadrop One";
        
        
}
 
.search {
    display:flex;
    justify-content: center;
    padding-top: 69px;
}
 
.search button {
    background-image: url(search.png);
    background-size: contain;
    background-color: white;
    float: right;
    height:4vh;
    width: 4vh;
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}




section {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    margin:0px;
    padding:0px;
}


/*----------------------------------------------------------------------------------------------------*/

.sec2{
    background-color: #FCD000;
}
 

.sec2content{
    display: flex;
    justify-content: center;
    margin: 10vh 10vw;
}

.imgcontainer{
    flex:2.5;
    display: flex;
    justify-content: flex-start;
    
}
.sec2image {
    border: 30px solid black;
    border-radius: 25px;
    max-width: 40vw;
    min-width: 40vw;
    height: 50vh;
    


}

.textcontainer{
    flex: 1.5;
}
h2{
    font-family: "Quicksand" ;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 0px;
}
p{
   font-family: "Quicksand" ;
 font-weight: 500;
   font-size: 20px;
   text-indent: 50px;
   overflow: auto;
}

.uppernav{
display: flex;
justify-content: center;
}
.header{
   padding-top: 5vh;
    display: flex;
    justify-content: flex-start;
    width: 80vw;
    
}

h1{
    font-weight: bold;
    font-size:  40px;
    font-family: "Darumadrop One";
    text-transform: uppercase;
    margin: 0%;

}

.header button{
    border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  
    
}
.header button img{
padding-bottom: 10px;
}

.headertext{
    display: block;
    text-align: left;

}
.headertext p{
    text-align: left;
    text-indent: 0%;
    margin: 0%;
}
table{
 font-size: 18px;
 border-radius: 25px;
 height: 300px;
 font-family: 'Quicksand' ,sans-serif;

}
tr{
    background-color: black;
    color:white;
}
th{
    padding: 1vw;
    color: #FCD000;
}

td{
    padding: 1vw;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.sec3{
    max-height: 100vh;
    min-height: 100vh;
}
.sec3content{
    display: flex;
    min-height: 70vh;
    max-height: 70vh;
    justify-content: center;
    align-content: center;
    overflow: auto;
    margin: 5vh 10vw;
    border-radius: 25px;
    background-color: black;

}

.footer{
    background-color: #FCD000;
}

.footertext{
    margin:5vh;
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footertext h2{
    padding: 2px;
    margin: 2px;
}












/* width */
.sec3content::-webkit-scrollbar {
  
    width: 20px;
  }
  
  /* Track */
  .sec3content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background-color: white;
  }
   
  /* Handle */
  .sec3content::-webkit-scrollbar-thumb {
    background: #FCD000; 
    border-radius: 10px;
  }

  /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }

/* @media screen and (min-width: 1520px) {
    .Mariotext{
      width: 400px;
      height: auto;
    }
    
} */